.Rproj.user
inst/doc
inst/extdata/datasets_backup.tsv
.renviron
.rprofile
.rproj
.rproj.user
.rhistory
.rapp.history
.o
.sl
.so
.dylib
.a
.dll
.def
.ds_store
unsrturl.bst
.log
.aux
.backups
.cproject
.directory
.dropbox
.exrc
.gdb.history
.gitattributes
.gitmodules
.hgtags
.project
.seed
.settings
.tm_properties
data-raw/*.tsv
data-raw/*.newick
docs
^*.Rproj
